@import '../styles/bootstrap.scss';

html, body {
    background-color: $body-bg;
}

input[type=number].no-spin {
    -moz-appearance: textfield !important;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}
