html, body {
    padding: 0; margin: 0;
}

@keyframes background-color-change-rainbow {
    0% { background-color: red; }
    14.286% { background-color: orange; }
    28.57% { background-color: yellow; }
    42.857% { background-color: green; }
    57.143% { background-color: skyblue; }
    71.429% { background-color: blue; }
    85.714% { background-color: blueviolet; }
    100% { background-color: red; }
}

.block {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

#block-title {
    /* background-color: red; */
    padding: 5rem;
    font-size: 6rem;
    animation: background-color-change-rainbow 2s infinite;
    animation-delay: 0s;
}

@keyframes opacity-change {
    0% { opacity: 100%; }
    50% { opacity: 80%; }
    100% { opacity: 100%; }
}
.block-photo {
    padding: 2rem;
    background-color: blue;
    animation: background-color-change-rainbow 2s infinite;
}
.block-photo img {
    max-width: 100%;
    animation: opacity-change 0.7s infinite;
}
.block-photo .caption {
    margin-top: 1rem;
}
#block-photo-ruskeala { animation: background-color-change-rainbow 2s infinite; animation-delay: -0.5s; }
#block-photo-ruskeala img { width: 64rem; }
#block-photo-money { animation: background-color-change-rainbow 2s infinite; animation-delay: -1s; }
#block-photo-money img { width: 32rem; }

#block-about {
    padding: 2rem;
    animation: background-color-change-rainbow 2s infinite;
    animation-delay: -1.5s;
}
#block-about p {
    margin-top: 0;
}
@keyframes background-color-change-grayscale {
    0% { background-color: black; }
    50% { background-color: lightgray; }
    100% { background-color: black; }
}
#block-social {
    padding: 2rem;
    background-color: black;
    animation: background-color-change-grayscale 0.7s infinite;
}
@keyframes color-change-rainbow {
    0% { color: red; }
    14.286% { color: orange; }
    28.57% { color: yellow; }
    42.857% { color: green; }
    57.143% { color: skyblue; }
    71.429% { color: blue; }
    85.714% { color: blueviolet; }
    100% { color: red; }
}
#link-vk { animation: color-change-rainbow 2s infinite; animation-delay: 0s; }
#link-vk:hover { animation-delay: -1s; }
#link-instagram { animation: color-change-rainbow 2s infinite; animation-delay: -0.5s; }
#link-instagram:hover { animation-delay: -1.5s; }
#link-github { animation: color-change-rainbow 2s infinite; animation-delay: -1s; }
#link-github:hover { animation-delay: 0s; }
#link-telegram { animation: color-change-rainbow 2s infinite; animation-delay: -1.5s; }
#link-telegram:hover { animation-delay: -0.5s; }

.snowflake {
    color: #fff;
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
