<html lang="ru">
<head>
    <title>&#x1F310; Персональная веб-страничка Вячеслава &#x1F310;</title>
    <meta charset="utf-8">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="blocks">
        <div id="block-title" class="block">
            Персональная веб-страничка Вячеслава
        </div>
        <div id="block-photo-ruskeala" class="block block-photo">
            <img src="/static/img/ruskeala.jpg" alt="Это моя фотография.">
            <div class="caption">Это я в парке Рускеала!</div>
        </div>
        <div id="block-photo-money" class="block block-photo">
            <img src="/static/img/money.jpg" alt="Фотография, заряженная на успех.">
            <div class="caption">Хочешь зарабатывать столько же? Пиши, расскажу про какую-нибудь очередную пирамиду.</div>
        </div>
        <div id="block-about" class="block">
            <p>Вообще я программист. Умею делать красивые Web 2.0 приложения.</p>
            <img src="/static/img/coding.gif" alt="Матрица..." />
        </div>
        <div id="block-social" class="block">
            <div id="block-social-caption">А это мои социальные сети и мессенджеры. Давай дружить!</div>
            <a id="link-vk" href="https://vk.com/slasyz">VK</a>, <a id="link-instagram" href="https://instagram.com/slasyz">Instagram</a>, <a id="link-github" href="https://github.com/slasyz">GitHub</a>, <a id="link-telegram" href="https://t.me/slasyz">Telegram</a>.
        </div>
    </div>

    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
    </div>
    <script type="application/javascript" src="/static/js/index.js"></script>
</body>
</html>
